.stansassets-hyperlink-block,
.stansassets-hyperlink-block__header,
.stansassets-hyperlink-block__content {
    background-color: initial;
    border-width: 0;
    margin: 0;
    width: auto;
    flex-shrink: 0;
    flex-direction: row;
}

.stansassets-hyperlink-block:hover Label,
.stansassets-hyperlink-block:hover VisualElement {
    -unity-background-image-tint-color: cornflowerblue;
    color: cornflowerblue;
    cursor: link;
}